{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-2"> </div>
        <div class="col-sm-12 col-md-8">
            <form action="" method="POST">
                {{ form.csrf_token }}
                {% if form.csrf_token.errors %}
                <div class="warning">You have submitted an invalid CSRF token</div>
                {% endif %}

                <fieldset>
                    <div class="name-field">
                        <div class="form-group m-2">
                            {{ form.title.label }}
                            {{ form.title(class="form-control title") }}
                        </div>
                        <div class="form-group m-2">
                            {{ form.first_name.label(class="form-control-label") }}
                            {% if form.first_name.errors %}
                            {{ form.first_name(class="form-control is-invalid", value=form.first_name.data, size=53) }}
                            <div class="invalid-feedback">
                                {% for error in form.first_name.errors %}
                                <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.first_name(class="form-control", size=53) }}
                            {% endif %}
                        </div>
                        <div class="form-group m-2">
                            {{ form.last_name.label(class="form-control-label") }}
                            {% if form.last_name.errors %}
                            {{ form.last_name(class="form-control is-invalid", value=form.last_name.data, size=53) }}
                            <div class="invalid-feedback">
                                {% for error in form.last_name.errors %}
                                <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.last_name(class="form-control", size=53) }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="name-field">
                        <div class="form-group m-2">
                            {{ form.username.label(class="form-control-label") }}
                            {% if form.username.errors %}
                            {{ form.username(class="form-control is-invalid", value=form.username.data, size=50) }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.username(class="form-control", size=60) }}
                            {% endif %}
                        </div>

                        <div class="form-group m-2">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid", value=form.email.data, size=50) }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-control", size=60) }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="name-field">
                        <div class="form-group m-2">
                            {{ form.nationality.label(class="form-control-label") }}
                            {{ form.nationality(class="form-control") }}
                        </div>
                        <div class="form-group m-2">
                            {{ form.date_of_birth.label }}
                            {{ form.date_of_birth(class="form-control") }}
                        </div>
                    </div>

                    <div class="name-field">
                        <div class="form-group m-2">
                            {{ form.country.label(class="form-control-label") }}
                            {{ form.country(class="form-control", onChange=("changecat(this.value)")) }}
                        </div>
                        <div class="form-group m-2">
                            {{ form.country_code.label(class="form-control-label") }}
                            <div class="image_country_code">
                                <img class="form-control flags" id="country-flag">
                                {{ form.country_code(class="form-control", value="None") }}
                            </div>
                            <div class="form-group m-2">
                                {{ form.phone_no.label(class="form-control-label") }}
                                {{ form.phone_no(class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-2">
                        {{ form.city.label(class="form-control-label") }}
                        {{ form.city(class="form-control") }}
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-sm-12 col-md-2"> </div>
    </div>
</div>
{% endblock content %}