.foo {
	display: block;
	text-align: center;
}

.foo ul {
	list-style: none;
	display: inline-flex;
}

.foo ul li {
    margin: 0px 3px;
}

.name-field {
	display: inline-flex;
	width: 100%
}

.form-control {
	display: inline
}

.title {
	font-size: 12px;
}

.country-nationality {
	display: flex;
	width: 446.2px;
}

.flags {
	width: 50px;
}

.country-image {
	display: flex
}

.country_code {
	width: 254px
}

.submit-btn {
	display: block;
	width: 100%;
}

@media screen and (max-width: 1260px) {
	.name-field {
		display: block
	}

	.country-nationality {
		width: 100%;
	}

	/* .image_country_code {
		display: flex
	} */

	.flags {
		display: none
	}

	div.img {
		width: auto;
	}
}